* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Page wrapper */
.home-page {
  min-height: 100vh;
  background-color: #f6efe7;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background: rgba(255, 248, 235, 0.6);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  color: #4b2e1e;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
}

.logout {
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
}

/* Main content below hero */
.home-content {
  padding: 80px 60px 60px;
  background-color: #f6efe7;
}
 a {
  text-decoration: none;
  color: inherit; /* takes navbar text color */
}

