* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.signup-container {
  height: 100vh;
  background-color: #f6efe7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  background-color: #fffaf3;
  width: 360px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #f3e4cf;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  font-size: 24px;
}

h2 {
  color: #4b2e1e;
  margin-bottom: 5px;
}

.subtitle {
  color: #8b6f5c;
  font-size: 14px;
  margin-bottom: 20px;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  color: #4b2e1e;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e0cfc0;
  outline: none;
  background-color: #fffdf9;
}

.form-group input:focus {
  border-color: #b08968;
}

.signup-btn {
  width: 100%;
  background-color: #5a3a23;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 15px;
}

.signup-btn:hover {
  background-color: #4b2e1e;
}

.login-text {
  margin-top: 15px;
  font-size: 14px;
  color: #8b6f5c;
}

.login-text span {
  color: #c27c2c;
  cursor: pointer;
  font-weight: bold;
}
